.preview{
  max-width: 750px;
  height: 250px;
  font-family: Segoue;
}
.header{
  font-size: 1.3rem;
  color: #4b49a9;
  text-decoration: none;
  text-align: justify;
}

.container{
  margin: 10px 0 0 0;
  display: flex;
  align-items: flex-start;
}
.image{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 2% 0 0;
}
.content{
  text-align: justify;
}
.author, .date{
  margin: 10px 0 0 0;
  width: 50%;
  display: inline-block;
}
.author{
  text-align: right;
}